body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#instructions {
    font-size: 18px;
    margin-bottom: 20px;
}

#guess {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
}

#submit {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}